<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>QVis</title>

    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="clocks.css">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="clocks.js"></script>
</head>
<body>
    <p>
        Info
        <br/>
        <small>Activities: <%= data[3].activities.length %></small>
        <br/>
        <small>Luminosities: <%= data[3].luminosity.length %></small>
    </p>
    <div class="clocks"></div>
    <script>
        var data = <%- JSON.stringify(data[3]) %>;
        new Clock().draw(".clocks", data);
    </script>
</body>
</html>
