<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>QVis</title>

    <link rel="stylesheet" href="/fullcal/fullcalendar.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/clocks.css">
    <link rel="stylesheet" href="/css/calendar.css">

    <script src="/lib/d3.min.js"></script>
    <script src="/moment/moment.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="/fullcal/fullcalendar.min.js"></script>
    <script src="/lib/c3.min.js"></script>
    <script src="/js/calendar.js"></script>
    <script src="/js/clocks.js"></script>
</head>
<body>
    <div id="current-person" data-id="<%- userId %>"></div>
    <p class="small">Days: <%= data.length %></p>
    <div id="calendar"></div>
    <div class="clocks"></div>
    <script>
        fillCalendar('#calendar', <%- calendata %>);

        <% data.forEach((entry) => { %>
            var data = <%- JSON.stringify(entry) %>;
            new Clock().draw(".clocks", data);
        <% }); %>
    </script>
</body>
</html>
