#calendar {
  float: left;
  max-width: 680px;
  max-height: 550px;
}

#calendar .cal-weather {
  width: 24px;
  height: 24px;
  position: absolute;
  z-index: 10;
  top: -22px;
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: top right; }

#calendar .sun {
  background-image: url("/images/sun.png"); }

#calendar .rain {
  background-image: url("/images/rain.png"); }

#calendar .thunder {
  background-image: url("/images/thunder.png"); }

#calendar .fog {
  background-image: url("/images/fog.png"); }

.ev-cal-holder {
  position: relative; }

.calendar-box {
  position: absolute;
  top: -18px;
  right: 18px;
  padding: 0 !important;
  margin: 0 !important; }

.full-histogram {
  position: absolute;
  z-index: 10;
  border: 2px solid #999;
  border-radius: 12px;
  background-color: #ddd;
  top: 70px;
  left: 70px;
  padding: 8px;
  width: 980px; }
  .full-histogram .c3-tooltip-container {
    max-width: 220px; }
  .full-histogram .graph {
    font-size: 10px; }
  .full-histogram .axis path,
  .full-histogram .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges; }
  .full-histogram .area {
    fill: rgba(101, 44, 215, 0.6); }
